<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<select #classe (change)="0">
  <option value="alert-success">Sucesso</option>
  <option value="alert-info">Info</option>
  <option value="alert-warning">Alerta</option>
  <option value="alert-danger">Error</option>
</select>

<br><br>

<div class="alert" role="alert"
  [class.alert-success]="classe.value == 'alert-success'">
  Sucesso
</div>
<div class="alert" role="alert"
[class.alert-info]="classe.value == 'alert-info'">
Info
</div>
<div class="alert" role="alert"
[class.alert-warning]="classe.value == 'alert-warning'">
  Alerta
</div>
<div class="alert" role="alert"
[class.alert-danger]="classe.value == 'alert-danger'">
  Erro
</div>

<div class="alert alert-danger" role="alert"
[style.display]="classe.value == 'alert-danger' ? 'block': 'none'">
  texte de erro.
</div>

<div class="alert {{ classe.value }}">
  Texto colorido conforme valor do combobox.
</div>

<alert type="success">hello</alert>

<app-garagem></app-garagem>

